body {
    font-family: "Poppins";
}

.container {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}



#note-text {
    width: 700px;
}

.sidebar {
    width: 200px;
    background-color: transparent;
    padding: 10px;
    margin-right: 50px;
    
}

.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
    
}

.notes {
    flex-grow: 1;
    padding: 10px;
}

.note {
    margin: 0 0 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
}

textarea {
    background-color: transparent;
    border: solid 0.5px gray;
    padding: 2%;
    margin-bottom: 10px;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px rgba(234, 233, 233, 0.356);

    height: 300px;
}

textarea:focus {
    outline: none;
}

.add-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 70px;
    font-size: 16px;
}

.notes h2 {
    font-size: 40px;
    margin-bottom: 20px;
}